.search-input {
  padding: 10px;
  border: 1px solid gray;
  border-radius: 10px;
  /* width: clamp(200px, 30vw, 300px); */
  width: 30vw;
  min-width: 200px;
  max-width: 300px;
  font-size: 18px;
  margin-left: 20px;
}
