.search-wrapper {
  position: relative;
}

.search-input {
  padding: 10px;
  border: 1px solid gray;
  border-radius: 10px;
  /* width: clamp(200px, 30vw, 300px); */
  width: 30vw;
  min-width: 200px;
  max-width: 300px;
  font-size: 18px;
  margin-left: 20px;
}

.clear-input {
  font-size: 30px;
  font-weight: 500;
  position: absolute;
  right: 12px;
  top: 2px;
  cursor: pointer;
  /* margin-right: 20px; */
}
