.counter-wrapper {
  display: flex;
  justify-content: center;
}

.counter {
  margin: 30px 0;
}

.counter h1 {
  text-align: center;
  color: white;
}

.counter-wrapper button {
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
}
