.form {
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin-top: 10%;
  font-size: 18px;
}

.form input {
  font-size: 18px;
  margin-bottom: 10px;
  padding: 8px;
}

.form label {
    margin-bottom: 3px;
  }

.button {
  padding: 10px 20px;
  font-size: 18px;
}

.button-wrapper {
  display: flex;
  justify-content: center;
}
