.httpRequests {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 10px solid cyan;
  padding: 10px;
}


.showImg {
  display: inline-block;
  opacity: 1;
}
.hideImg {
  display: none;
  opacity: 0;
}
