* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  /* text-align: center; */
  max-width: 600px;
  margin: 0 auto;
}

.noPosts {
  text-align: center;
  background-color: white;
  margin-top: 5%;
}
