.new-expense__controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.new-expense__control {
  display: inline-block;
  justify-content: space-between;
}

.new-expense__control:nth-child(4) {
  display: flex;
  align-items: flex-end;
}

.new-expense__control label {
  display: block;
}

.new-expense__control input {
  padding: 0.4rem;
  width: 18rem;
  border-radius: 0.3rem;
  margin-right: 1rem;
}

